@font-face {
    font-family: Roboto;
    /* Имя шрифта */
    src: url(../font/roboto.ttf);
}

body {
    background-color: #fbfbfb;
    overflow-x: hidden;
}

.container {
    width: 100%;
    margin: auto;
}

.flex-nav {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

.left-nav {
    width: 270px;
    padding-left: 0;
}

.phnumbner {
    font-size: 25px;
    color: #000;
    line-height: 44px;
}

.call-request {
    font-size: 16px;
    color: #fc557c;
    display: block;
    border: 1px solid #fc557c;
    width: 208px;
    height: 44px;
    box-sizing: border-box;
    line-height: 44px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #fc557c;
    text-decoration: underline;

}

.banner {
    width: 100%;
    height: 768px;
    background-image: url(../images/ellipse.png);
    background-size: 160%;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: center center;
}

.in-banner-content {
    position: absolute;
    top: 200px;
}

h1 {
    font-size: 80px;
    margin-bottom: 24px;
    margin-top: 0;
    font-family: Roboto;
}

.job-title {
    color: #8993ad;
    font-size: 25px;
    font-family: Roboto;
}

.detail-button {
    margin-top: 50px;
    display: block;
    width: 270px;
    height: 58px;
    color: #fff;
    background-color: #ff4e2e;
    border: 0;
    font-size: 18px;
    
}

.arrow {
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-image: url(../images/arrow.png);
    background-size: cover;
    box-shadow: 0 0 10px 1px;
    border-radius: 50%;
    margin: 10px;
    border:0;
}

.arrow:hover,
.call-request:hover,
button:hover {
    cursor: pointer;
}

.arrow-right {
    transform: rotate(180deg)
}

.bottom-gradient {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    height: 364px;
    width: 100%;
    text-align: left;
    font-family: Roboto;
    color: #fff;
    box-sizing: border-box;
    background-image: linear-gradient(to top right, #ff8f5a, #ff2f96);
    padding: 0 100px;
    flex-direction: column;
}

.main-text {
    font-size: 44px;
}

.mini-text {
    font-size: 20px;
}

.contacts{
    background-image: linear-gradient(to bottom right, #fa098f, #f6355b);
   
}

.contacts > .icon-mail, .icon-phone {
    font-size: 3rem; /* Размер текста */
    margin: 0; /* Убираем отступы */
    background: white; /* Белый цвет фона */
    mix-blend-mode: screen; /* Режим наложения */
}

.social-media {
    width: 200px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

.social-media-icon {
    width: 36px;
    height: 29px;
    background-image: url(../images/social.png);
}

.fb {
    background-position: 34%;
}
.tw {
    background-position: 67%;
}
.in {
    background-position: 100%;
}

.svg-pic {
   /*  transform: rotate(2deg) */
}

@media (min-width: 1171px) {
    .banner {
        background-size: 150%;
    }
}

@media (min-width: 1300px) {
    .banner {
        background-size: 130%;
    }
}

@media (max-width: 980px) {}

@media (max-width: 798px) {}

@media (max-width: 720px) {}

@media (max-width: 575.98px) {
    body {
        overflow-x: scroll;
    }

    .container {
        width: 100%;
        padding-left: 0;
    }

    .main-wrapper {
        display: flex;
        flex-direction: column;
    }

    .in-banner-content {
        position: static;
    }
}
