@font-face {
    font-family: Roboto;
    /* Имя шрифта */
    src: url('../font/roboto/Roboto-Bold-webfont.eot');
    /* IE 9 Compatibility Mode */
    src: url('../font/roboto/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('../font/roboto/Roboto-Bold-webfont.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('../font/roboto/Roboto-Bold-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../font/Roboto-Bold-webfont.svg#Robotobold') format('svg');
    /* Chrome < 4, Legacy iOS */
}

@font-face {
    font-family: roboto-regular;
    src: url('../font/roboto/Roboto-Regular-webfont.eot');
    /* IE 9 Compatibility Mode */
    src: url('../font/roboto/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('../font/roboto/Roboto-Regular-webfont.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('../font/roboto/Roboto-Regular-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../font/Roboto-Regular-webfont.svg#Robotobold') format('svg');
    /* Chrome < 4, Legacy iOS */
}

@font-face {
    font-family: roboto-Black;
    src: url('../font/roboto/Roboto-Black-webfont.eot');
    /* IE 9 Compatibility Mode */
    src: url('../font/roboto/Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('../font/roboto/Roboto-Black-webfont.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('../font/roboto/Roboto-Black-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../font/Roboto-Black-webfont.svg#Robotobold') format('svg');
    /* Chrome < 4, Legacy iOS */
}

@font-face {
    font-family: roboto-Bold;
    src: url('../font/roboto/Roboto-Bold-webfont.eot');
    /* IE 9 Compatibility Mode */
    src: url('../font/roboto/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('../font/roboto/Roboto-Bold-webfont.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('../font/roboto/Roboto-Bold-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../font/Roboto-Bold-webfont.svg#Robotobold') format('svg');
    /* Chrome < 4, Legacy iOS */
}

@font-face {
    font-family: roboto-medium;
    src: url('../font/roboto/Roboto-medium-webfont.eot');
    /* IE 9 Compatibility Mode */
    src: url('../font/roboto/Roboto-medium-webfont.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('../font/roboto/Roboto-medium-webfont.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('../font/roboto/Roboto-medium-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../font/Roboto-medium-webfont.svg#Robotobold') format('svg');
    /* Chrome < 4, Legacy iOS */
}

body {
    background-color: #fbfbfb;
    overflow-x: hidden;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.main-block {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.nav {
    max-width: 1170px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.left-nav, .right-nav {
    margin: 0;
}

.left-nav {
    width: 280px;
    margin-top: 44px;
    padding-left: 0;
    line-height: 1em;
}

.li-link {
    font-family: roboto-regular;
    font-size: 16px;
}

.right-nav {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: space-between;
    padding: 0;
}

.phnumbner {
    font-size: 25px;
    color: #000;
    line-height: 44px;
    padding-right: 28px;
    font-family: Roboto;
}

.call-request {
    font-size: 16px;
    color: #fc557c;
    display: block;
    border: 1px solid #fc557c;
    width: 208px;
    height: 44px;
    box-sizing: border-box;
    line-height: 44px;
    text-align: center;
    background-color: #fff;
    align-self: flex-end;
}

.central-container {
    background-image: url(../ellipse.svg);
    background-position-x: 118%;
    background-position-y: -25%;
    background-repeat: no-repeat;
    background-size: 51%;
}

.author-photo-picture {
    position: absolute;
    left: 814px;
    top: 58px;
    overflow: hidden;
    height: 632px;
}

.author-photo {
    width: 435px;
    height: 651px;
}

.main {
    width: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #fc557c;
    text-decoration: underline;
}

.pink {
    color: #fc557c;
    text-decoration: underline;
}

.in-banner-content {
    position: absolute;
    top: 200px;
}

.top-info {
    display: flex;
    flex-direction: column;
    height: 258px;
    align-items: stretch;
    padding-top: 203px;
}

.my-name {
    font-size: 80px;
    margin: 0;
    padding-top: 0;
    font-family: Roboto-black;
}

.job-title {
    color: #8993ad;
    font-size: 25px;
    font-family: roboto-regular;
    line-height: 2em;
    margin-bottom: 37px;
}

.detail-button {
    display: block;
    width: 270px;
    height: 58px;
    color: #fff;
    background-color: #ff4e2e;
    border: 0;
    font-size: 18px;
}

.arrow {
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-image: url(../images/arrow.png);
    background-size: cover;
    box-shadow: 0 0 10px -7px;
    border-radius: 50%;
    margin: 10px;
    border: 0;
    position: absolute;
    left: -42px;
    top: 108px;
}

.arrow:hover, .call-request:hover, button:hover {
    cursor: pointer;
}

.arrow-right {
    transform: rotate(180deg);
    left: 1128px;
}

.my-job {
    height: 562px;
    padding-top: 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-job-header {
    font-family: Roboto-Bold;
    font-size: 54px;
    margin: 0;
    margin-bottom: 85px;
}

.my-job-list {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    width: 100%;
    align-content: space-evenly;
    padding-bottom: 66px;
}

.my-job-list-element{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 250px;
    font-size: 20px;
    font-family: roboto-regular;
    color: #8993ad;
}

.my-job-description {
    display: block;
    text-align: center;
    padding-top:15px
}

.job-examples {
    height: 855px;
    background-color: #fbfbfb;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.job-example-header{
    padding-top: 85px;
    margin-bottom: 100px;
}

.job-examples-list{
    position: relative;
    padding:0;
    margin:0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 95px;
}

.job-examples-list-element{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.job-examples-picture {
    margin-bottom: 25px;
    display: block;
}

.job-example-description {
    font-size: 20px;
    font-family: roboto-regular;
    color: #8993ad;
    display: block;
}

.medium-gradient {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 364px;
    width: 100%;
    text-align: left;
    font-family: Roboto;
    color: #fff;
    box-sizing: border-box;
    background-image: linear-gradient(to top right, #ff8f5a, #ff2f96);
    padding: 0 100px;
    flex-direction: column;
}

.gradient-p {
    font-size: 44px;
    width: 1000px;
    padding: 0 100px;
}

.mini-text {
    font-size: 20px;
}

.center-bottom {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80px;
}

.contact {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.contact-icon {
    background-image: linear-gradient(to bottom right, #fa098f, #f6355b);
    display: flex;
    flex-direction: column;
}

.contact-icon>.fa {
    font-size: 3rem;
    /* Размер текста */
    margin: 0;
    /* Убираем отступы */
    background: white;
    /* Белый цвет фона */
    mix-blend-mode: screen;
    /* Режим наложения */
    padding-right: 20px;
}

.contacts-link {
    font-size: 25px;
    color: #000;
    font-family: Roboto;
}

.social-media {
    width: 200px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

.social-media-icon {
    width: 36px;
    height: 29px;
    background-image: url(../images/social.png);
}

.fb {
    background-position: 34%;
}

.tw {
    background-position: 67%;
}

.in {
    background-position: 100%;
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 262px;
    align-items: center;
    width: 100%;
    max-width: 1170px;
    ;
    margin: 0 auto;
}

.left-bottom {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 80px;
}

.bottom-nav-li-link {
    color: #8993ad;
    font-size: 18px;
    font-family: Roboto;
}

.right-bottom {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    justify-items: flex-end;
    background-position: 113% 150%;
    background-repeat: no-repeat;
    height: 690px;
}

@media (min-width: 1171px) {
    .banner {
        background-size: 150%;
    }
}

@media (min-width: 1300px) {
    .banner {
        background-size: 130%;
    }
}

@media (max-width: 980px) {}

@media (max-width: 798px) {}

@media (max-width: 720px) {}

@media (max-width: 575.98px) {
    body {
        overflow-x: scroll;
    }
    .container {
        width: 100%;
        padding-left: 0;
    }
    .main-wrapper {
        display: flex;
        flex-direction: column;
    }
    .in-banner-content {
        position: static;
    }
}