@font-face {
    font-family: Roboto;
    /* Имя шрифта */
    src: url('../font/roboto/Roboto-Bold-webfont.eot');
    /* IE 9 Compatibility Mode */
    src: url('../font/roboto/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('../font/roboto/Roboto-Bold-webfont.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('../font/roboto/Roboto-Bold-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../font/Roboto-Bold-webfont.svg#Robotobold') format('svg');
    /* Chrome < 4, Legacy iOS */
}

@font-face {
    font-family: roboto-regular;
    src: url('../font/roboto/Roboto-Regular-webfont.eot');
    /* IE 9 Compatibility Mode */
    src: url('../font/roboto/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('../font/roboto/Roboto-Regular-webfont.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('../font/roboto/Roboto-Regular-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../font/Roboto-Regular-webfont.svg#Robotobold') format('svg');
    /* Chrome < 4, Legacy iOS */
}

@font-face {
    font-family: roboto-Black;
    src: url('../font/roboto/Roboto-Black-webfont.eot');
    /* IE 9 Compatibility Mode */
    src: url('../font/roboto/Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('../font/roboto/Roboto-Black-webfont.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('../font/roboto/Roboto-Black-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../font/Roboto-Black-webfont.svg#Robotobold') format('svg');
    /* Chrome < 4, Legacy iOS */
}

@font-face {
    font-family: roboto-Bold;
    src: url('../font/roboto/Roboto-Bold-webfont.eot');
    /* IE 9 Compatibility Mode */
    src: url('../font/roboto/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('../font/roboto/Roboto-Bold-webfont.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('../font/roboto/Roboto-Bold-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../font/Roboto-Bold-webfont.svg#Robotobold') format('svg');
    /* Chrome < 4, Legacy iOS */
}

@font-face {
    font-family: roboto-medium;
    src: url('../font/roboto/Roboto-medium-webfont.eot');
    /* IE 9 Compatibility Mode */
    src: url('../font/roboto/Roboto-medium-webfont.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('../font/roboto/Roboto-medium-webfont.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('../font/roboto/Roboto-medium-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../font/Roboto-medium-webfont.svg#Robotobold') format('svg');
    /* Chrome < 4, Legacy iOS */
}

body {
    background-color: #fbfbfb;
    overflow-x: hidden;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.main-block {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.nav {
    max-width: 1170px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.mobile-burger {
    display: none;
}

.mobile-burger-320 {
    display: none;
}

.left-nav, .right-nav {
    margin: 0;
}

.left-nav {
    width: 280px;
    margin-top: 44px;
    padding-left: 0;
    line-height: 1em;
}

.li-link {
    font-family: roboto-regular;
    font-size: 16px;
}

.right-nav {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: space-between;
    padding: 0;
    width: 460px;
}

.phnumbner {
    font-size: 25px;
    color: #000;
    line-height: 44px;
    padding-left: 4px;
    font-family: Roboto;
}

.call-request {
    font-size: 16px;
    color: #fc557c;
    display: block;
    border: 1px solid #fc557c;
    width: 248px;
    height: 44px;
    box-sizing: border-box;
    line-height: 44px;
    text-align: center;
    background-color: #fff;
    align-self: flex-end;
}

.call-request-nav {
    width: 208px;
}

.mobile-call-request-nav {
    display: none;
}

.central-container {
    background-image: url(../ellipse.svg);
    background-position-x: 118%;
    background-position-y: -25%;
    background-repeat: no-repeat;
    background-size: 51%;
}

.author-photo-picture {
    position: absolute;
    left: 814px;
    top: 58px;
    overflow: hidden;
    height: 632px;
}

.author-photo {
    width: 435px;
    height: 651px;
}

.main {
    width: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #fc557c;
    text-decoration: underline;
}

.pink {
    color: #fc557c;
    text-decoration: underline;
}

.in-banner-content {
    position: absolute;
    top: 200px;
}

.top-info {
    display: flex;
    flex-direction: column;
    height: 258px;
    align-items: stretch;
    padding-top: 203px;
}

.my-name {
    font-size: 80px;
    margin: 0;
    padding-top: 0;
    font-family: Roboto-black;
}

.job-title {
    color: #8993ad;
    font-size: 25px;
    font-family: roboto-regular;
    line-height: 2em;
    margin-bottom: 37px;
}

.detail-button {
    display: block;
    width: 270px;
    height: 58px;
    color: #fff;
    background-color: #ff4e2e;
    border: 0;
    font-size: 18px;
}

.arrow {
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-image: url(../images/arrow.png);
    background-size: cover;
    box-shadow: 0 0 10px -7px;
    border-radius: 50%;
    margin: 10px;
    border: 0;
    position: absolute;
    left: -42px;
    top: 108px;
}

.arrow:hover, .call-request:hover, button:hover {
    cursor: pointer;
}

.arrow-right {
    transform: rotate(180deg);
    left: 1128px;
}

.my-job {
    height: 562px;
    padding-top: 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-job-header {
    font-family: Roboto-Bold;
    font-size: 54px;
    margin: 0;
    margin-bottom: 85px;
}

.my-job-list {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    width: 100%;
    align-content: space-evenly;
    padding-bottom: 66px;
}

.my-job-list-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 250px;
    font-size: 20px;
    font-family: roboto-regular;
    color: #8993ad;
}

.my-job-description {
    display: block;
    text-align: center;
    padding-top: 15px
}

.job-examples-block {
    align-items: center;
}

.job-examples {
    height: 862px;
    background-color: #fbfbfb;
}

.job-example-header {
    padding-top: 85px;
    margin-bottom: 100px;
}

.job-examples-list {
    position: relative;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 95px;
}

.job-examples-list-element {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.job-examples-picture {
    margin-bottom: 25px;
    display: block;
}

.job-example-description {
    font-size: 20px;
    font-family: roboto-regular;
    color: #8993ad;
    display: block;
}

.medium-gradient {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 364px;
    width: 100%;
    text-align: left;
    font-family: Roboto;
    color: #fff;
    box-sizing: border-box;
    background-image: linear-gradient(to top right, #ff8f5a, #ff2f96);
    padding: 0 100px;
    flex-direction: column;
}

.gradient-p {
    font-size: 45px;
    width: 970px;
    padding: 74px 100px 0 126px;
    margin: 0;
    font-family: roboto-Bold;
}

.mini-text {
    padding-left: 128px;
    padding-top: 28px;
    font-family: roboto-regular;
    font-size: 18px;
}

.mini-text-second-line {
    padding-left: 14px;
    line-height: 32px;
}

.center-bottom {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80px;
    padding-right: 67px;
}

.contact {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    line-height: 1.5rem;
}

.contact-icon {
    background-image: linear-gradient(to bottom right, #fa098f, #f6355b);
    display: flex;
    flex-direction: column;
    height: 22px;
}

.contact-icon>.fa {
    font-size: 3rem;
    /* Размер текста */
    margin: 0;
    /* Убираем отступы */
    background: white;
    /* Белый цвет фона */
    mix-blend-mode: screen;
    /* Режим наложения */
    padding-right: 20px;
}

.contacts-link {
    font-size: 25px;
    color: #000;
    font-family: roboto-regular;
}

.social-media {
    width: 231px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    padding-right: 34px;
}

.social-media-icon {
    width: 36px;
    height: 29px;
    background-image: url(../images/social.png);
}

.fb {
    background-position: 34%;
}

.tw {
    background-position: 67%;
}

.in {
    background-position: 100%;
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 184px;
    width: 100%;
    max-width: 1170px;
    padding-top: 78px;
    margin: 0 auto;
}

.left-bottom {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 85px;
}

.bottom-nav-li-link {
    color: #8993ad;
    font-size: 18px;
    font-family: roboto-regular;
    line-height: 1rem;
}

.right-bottom {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-right: 22px;
}

.container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    justify-items: flex-end;
    background-position: 113% 150%;
    background-repeat: no-repeat;
    height: 690px;
}

.top-shift {
    padding-top: 9px
}

.copyright-bar {
    height: 53px;
    background-color: #31293c;
    color: #fff;
    text-align: center;
    padding-top: 28px;
}

.copyright-text {
    font-family: roboto-regular;
    font-size: 16px;
}

.pagination {
    display: none;
}

.pagination-mobile {
    display: none;
}

@media (max-width: 1025px) {
    .nav {
        width: 945px;
    }
    .left-nav {
        display: none;
    }
    .right-nav {
        margin-top: 0;
    }
    .phnumbner {
        margin-top: 28px;
        padding-left: 2px;
    }
    .main-block {
        width: 945px;
    }
    .central-container {
        background-position-x: 230%;
        background-position-y: 1490%;
        background-size: 80%;
    }
    .mobile-burger {
        padding-top: 37px;
        display: block;
    }
    .author-photo-picture {
        left: 512px;
    }
    .top-info {
        padding-top: 233px;
    }
    .my-name {
        font-size: 54px;
    }
    .job-title {
        padding-top: 6px;
    }
    .more-button {
        width: 320px;
        height: 68px;
    }
    .my-job {
        height: 885px;
    }
    .my-job-header {
        padding-right: 31px;
    }
    .my-job-list {
        flex-wrap: wrap;
        width: 652px;
        padding-bottom: 95px;
    }
    .job-example-header {
        padding: 0;
    }
    .layout-element-picture {
        padding-left: 5px;
    }
    .adaptive-element-picture {
        padding-right: 25px;
    }
    .fronted-dev-element {
        padding-top: 53px;
    }
    .fronted-dev-element-picture {
        padding-left: 6px;
    }
    .refactoring-element {
        padding-top: 53px;
    }
    .refactoring-element-picture {
        padding-right: 23px;
    }
    .arrow {
        display: none;
    }
    .hidden-element {
        display: none;
    }
    .job-examples {
        height: 967px;
    }
    .job-examples-img {
        width: 455px;
        height: 356px;
    }
    .job-example-description {
        font-size: 25px;
        padding-right: 10px;
    }
    .job-examples-picture {
        margin-bottom: 14px;
    }
    .pagination {
        display: flex;
        flex-direction: row;
        padding: 0;
        margin: 0;
        width: 115px;
        margin-bottom: 98px;
    }
    .left-nav-footer {
        display: block;
        justify-content: flex-start;
    }
    .bottom {
        width: 945px;
        margin-bottom: 25px;
    }
    .bottom-nav-li {
        margin-bottom: 13px;
    }
    .right-bottom {
        padding-right: 0;
        padding-top: 23px;
    }
    .top-shift {
        padding-top: 32px;
    }
    .center-bottom {
        padding-right: 106px;
    }
    .social-media {
        padding-top: 32px;
    }
    .copyright-bar {
        padding-top: 25px;
        height: 56px;
    }
}

@media (min-width: 1300px) {
    .banner {
        background-size: 130%;
    }
}

@media (max-width: 980px) {}

@media (max-width: 798px) {}

@media (max-width: 720px) {}

@media (max-width: 575.98px) {
    body {
        overflow-x: scroll;
    }
    .container {
        width: 100%;
        padding-left: 0;
    }
    .main-wrapper {
        display: flex;
        flex-direction: column;
    }
    .in-banner-content {
        position: static;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

    .container {
        height: 631px;
    }

    .nav {
        width: auto;
    }
    .call-request-nav {
        display: none;
    }
    .mobile-call-request-nav {
        display: block;
        width: 26px;
        height: 26px;
        border: 0;
        background-color: #fff;
        background-image: url(../images/mobile/call_request.png);
        margin-right: 20px;
        margin-top: 26px;
    }
    .mobile-burger {
        display: none;
    }
    .mobile-burger-320 {
        display: block;
        padding-top: 30px;
        padding-left: 22px;
    }
    .phnumbner {
        margin-top: 15px;
        font-size: 18px;
        padding-left: 38px;
    }

    .author-photo {
        width: 223px;
        height: 331px;
    }   

    .author-photo-picture {
        left: 78px;
        top: 77px;
    }

    .top-info {
        align-items: center;
        padding-top: 417px;
    }

    .my-name {
        font-size: 30px;
        text-align: center;
    }

    .job-title {
        font-size: 16px;
        text-align: center;
        width: 215px;
        padding-top: 8px;
        line-height: normal;
        margin-bottom: 27px;
    }

    .more-button {
        width: 280px;
        height: 55px;
    }

    .my-job  {
        padding-top: 0;
    }

    .main-block {
        width: 100%;
    }

    .my-job-header {
        padding:0;
        font-size: 30px;
        margin: 0;
    }

    .my-job-list {
        width: 100%;
        flex-direction: column;
        padding-top: 40px;
        padding-bottom: 4px;
    }

    .my-job-list-element {
        margin-bottom: 50px;
    }

    .my-job-img {
        width: 62px;
        height: 56px;
    }

    .layout-element-picture {
        padding-left: 0;
       /*  padding-top: 40px; */
    }

    .adaptive-element-picture {
        padding-right: 0;
       /*  padding-top: 12px; */
    }

    .my-job-description {
        font-size: 16px;
       padding-top: 14px;
    }

    .fronted-dev-element {
        padding-top: 0;
    }

    .fronted-dev-element-picture {
       /*  padding-top: 17px; */
        padding-left: 2px;
    }

    .refactoring-element {
        padding-top: 0;
    }

    .refactoring-element-picture {
       /*  padding-top: 16px; */
        padding-right: 0;
    }

    .layout-element-description{
       /*  padding-top:50px; */
    }

    .more-button{
        font-size: 16px;
    }

    .job-examples {
        height: 640px;
    }

    .job-examples-block{
        padding-top:25px;
    }

    .job-example-header{
        width: 216px;
        text-align: center;
        line-height: 1.2em;
    }

    .job-examples-list {
        margin-bottom: 40px;
    }

    .job-examples-list-element {
        width:100%;
    }

    .job-examples-picture {
        padding-top: 46px;
        margin-bottom: 0;
    }

    .job-examples-img {
        width: 280px;
        height: 250px;
    }

    .job-example-description {
        font-size: 18px;
        padding-top: 5px;
    }

    .pagination {
        display: none;
    }

    .pagination-mobile {
        width: 85px;
        display: flex;
        justify-content: space-evenly;
        margin: 0;
        padding:0;
        margin-bottom: 43px;
    }

    .medium-gradient{
        padding: 43px 20px 0 20px;
        height: auto;
    }

    .gradient-p{
        font-size: 28px;
        width:100%;
        padding:0;
        text-align: left;
        padding-bottom: 40px;
    }

    .mini-text{
        font-size: 15px;
        line-height: 1.8;
        text-align: left;
    }

    .pixel-perfect-crunch{
        display: none;
    }

    .mini-text-second-line{
        padding-left: 0;  
    }

    .bottom {
        padding-top: 45px;
        width:100%;
        flex-direction: column;
        height: auto;
        margin-bottom: 50px;
    }

    .top-shift {
        padding:0;
    }

    .left-nav-footer{
        margin-bottom: 40px;
        padding-left: 20px;
    }

    .center-bottom {
        padding-left: 20px;
        justify-content: flex-start;
    }

    .bottom-nav-li {
        margin-bottom: 16px;
    }

    .bottom-nav-li-link {
        font-size: 15px;
    }
    
    .contact-phone {
        margin-bottom: 25px;
    }

    .contacts-link{
        font-size: 20px;
    }

    .mobile-call-request {
        align-self: unset;
        display: block;
        width: 280px;
        height: 55px;
        color: #fff;
        background-color: #ff4e2e;
        border: 0;
        font-size: 18px;
    }

    .right-bottom {
        padding-top: 15px;
        height: auto;
    }

    .social-media {
        padding-top: 50px;
        padding-right: 85px;
    }

    .copyright-bar {
        padding-top: 16px;
        height: 40px;
    }

    .copyright-text{
      font-size: 12px;  
    }


}